<html>
	<head>
		<link rel="stylesheet"type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet"type="text/css" href="/stylesheets/app.css">
		<title>BlogApp</title>
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><i class="code icon"></i>
					Blog Site
				</div>
				<a href="/" class="item">Home</a>
				<a href="/blogs/new" class="item">New Post</a>
			</div>
		</div>
		

<script src="https://cdn.cai.tools.sap/webchat/webchat.js"
channelId="528ec661-1cdf-4259-9684-c6cc4c69f463"
token="c2e689365bfd2cfe15e58f0bdf974426"
id="cai-webchat"
></script>
